header {
    background-color: rgba(12, 206, 206,.5);
    background-image: url("../img/pattern.png");
    height: 150px;
    background-size: 500px;
    
}
#logo{
    height: 50px;
    margin-top: 100px;
}
#spanblu {
    color: blue;
}
.giallo {
    background-color: yellow;
}
.gray1 {
    color: gray;
}
#gray {
    color: gray;
}
.blu{
    background-color: aqua;
}
.celeste {
    background-color: aquamarine;
}
#primo{
    font-size: 20px;
    background-image: url(../img/penultima.jpg);
    background-size: 250px;
    height: 180px;
    background-repeat: no-repeat;
    color: white;
}
#secondo{
    font-size: 20px;
    background-image: url(../img/ultima.jpg);
    background-size: 250px;
    height: 180px;
    background-repeat: no-repeat;
    color: white;
}
td{
    height: 50px;
}
#t30 {
    background-color: aqua;
    width: 600px;
}
#t31 {
    background-color: aquamarine;
    width: 600px;
}
#t32 {
    width: 600px;

}
body{
    margin: 0;
}